{% extends "layout.html" %}

{% block content %}

Hello this is homepage.

<table class="ui celled table">
    <thead>
      <tr><th>Company</th>
      <th>Symbol</th>
      <th>Site web</th>
    </tr></thead>
    <tbody>
      <tr>
        <td data-label="Company">Néo-énergies</td>
        <td data-label="Symbol">NEOEN</td>
        <td data-label="Site web">https://www.neoen.com/fr/</td>
      </tr>
      <tr>
        <td data-label="Company">Total Energies</td>
        <td data-label="Symbol">TOTAL</td>
        <td data-label="Site web">https://totalenergies.com/fr</td>
      </tr>
      <tr>
        <td data-label="Company">Autre</td>
        <td data-label="Symbol">AUTRE</td>
        <td data-label="Site web">https://autre.com/fr</td>
      </tr>
    </tbody>
  </table>

{% endblock %}