{% extends "layout.html" %}

{% block content %}

Hello this is homepage.

<table class="ui celled table">
    <thead>
      <tr><th>Company</th>
      <th>Symbol</th>
      <th>Data</th>
    </tr></thead>
    <tbody>
      <tr>
        <td data-label="Company">Neoen</td>
        <td data-label="Symbol">NEOEN</td>
        <td data-label="Data">Data</td>
      </tr>
      <tr>
        <td data-label="Company">Total</td>
        <td data-label="Symbol">TOTAL</td>
        <td data-label="Data">Data</td>
      </tr>
      <tr>
        <td data-label="Company">Autre</td>
        <td data-label="Symbol">24</td>
        <td data-label="Data">Data</td>
      </tr>
    </tbody>
  </table>

{% endblock %}